
    <% include default/header.ejs %>

</head>

<body class="vertical-layout vertical-menu 2-columns fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns">

    <% include default/navbar.ejs %>

    <% include default/menu.ejs %>

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">

            <% include default/messages.ejs %>

            <div class="content-body">
                <!-- Statistics with grouped cards -->
                <% if (data_geral) { %>

                    <div class="content-header row mb-1">
                        <div class="content-header-left col-md-12">
                            <h3 class="content-header-title">Visão Geral</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="far fa-window-restore info font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Sistemas</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].sistemas_em_atendimento %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="far fa-copy primary font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Total de Tarefas</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].tarefas_total %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="fas fa-wrench warning font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Em Atendimento</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].tarefas_em_aberto %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="fas fa-medal success font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Tarefas Concluídas</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].tarefas_concluidas %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }; %>


                <!-- Statistics with grouped cards -->
                <% if (!data_geral) { %>

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="heading-select">Visão Mensal de Tarefas</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <label>Mês</label>
                                                <select class="select2 form-control" id="select2-mes" name="mes" id="mes" required>
                                                    <option value="01">Janeiro</option>
                                                    <option value="02">Fevereiro</option>
                                                    <option value="03">Março</option>
                                                    <option value="04">Abril</option>
                                                    <option value="05">Maio</option>
                                                    <option value="06">Junho</option>
                                                    <option value="07">Julho</option>
                                                    <option value="08">Agosto</option>
                                                    <option value="09">Setembro</option>
                                                    <option value="10">Outubro</option>
                                                    <option value="11">Novembro</option>
                                                    <option value="12">Dezembro</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label>Ano</label>
                                                <select class="select2 form-control" id="select2-ano" name="ano" id="ano" required>
                                                    <option value="2020">2020</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2018">2018</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <div class="card">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-12 border-right-blue-grey border-right-lighten-5">
                                                                    <div class="float-left pl-2">
                                                                        <span class="font-large-3 text-bold-300 warning">XXX</span>
                                                                    </div>
                                                                    <div class="float-left mt-2 ml-1">
                                                                        <span class="blue-grey darken-1 block">Tarefas</span>
                                                                        <span class="blue-grey darken-1 block">Abertas</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-12">
                                                                    <div class="float-left pl-2">
                                                                        <span class="font-large-3 text-bold-300 success">XXX</span>
                                                                    </div>
                                                                    <div class="float-left mt-2 ml-1">
                                                                        <span class="blue-grey darken-1 block">Tarefas</span>
                                                                        <span class="blue-grey darken-1 block">Concluídas</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                <% }; %>

                <section class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title"> Últimos andamentos </h4>
                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                        </div>

                                        <div aria-labelledby="comments" class="tab-pane" id="comment">
                                            <div class="media-list media-bordered">

                                                <% if (data_ultimos_andamentos.length > 0) { %>
                                                   <% data_ultimos_andamentos.forEach(function(user){ %>
                                                        <div class="media">
                                                            <div class="avatar avatar-sm mr-1"
                                                                style="background-color: <%= formatter.stringToHslColor(user.nome_curto, 170, 70) %> ;">
                                                                <span class="avatar-content"> <%= user.nome_curto %> </span>
                                                            </div>
                                                            <div class="media-body">
                                                                <a href="<%- '/tarefas/editar/' + user.id_atendimento  %>" class="text-bold-600">
                                                                    <strong> <%= formatter.zero_esquerda(user.id_atendimento, 4) + ' - ' + user.assunto %> </strong>
                                                                </a>

                                                                <div class="media-notation mb-1">
                                                                    <p class="text-muted font-small-2">
                                                                        <%= moment(user.data_inicio).format('LLLL') %>
                                                                    </p>
                                                                </div>
                                                                <%= user.observacao %>
                                                            </div>
                                                        </div>
                                                   <% }) %>
                                                <% } %>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Tarefas Pendentes abertas por mim</h4>
                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <!-- Task List table -->
                                                <div class="table-responsive">
                                                    <table class="table table-hover dataTables-example dataTables_filter" id="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th>Tarefa</th>
                                                                <th>Assunto</th>
                                                                <th>Abertura</th>
                                                                <th>Situação</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <% if (data) { %>

                                                                <% ultimo_sistema = '' %>

                                                                <% data.forEach(function(user) { %>

                                                                    <% if (ultimo_sistema !== user.fonte_atendimento) { %>
                                                                        <tr class="group" style="background-color: #f7f7f7 !important;">
                                                                            <td colspan="8">
                                                                                <h6 class="mb-0" style="color: #e83030;"> <span class="text-bold-600">Sistema: <%= user.fonte_atendimento %> </span> </h6>
                                                                            </td>
                                                                        </tr>
                                                                    <% } %>

                                                                    <% ultimo_sistema = user.fonte_atendimento %>

                                                                    <tr>
                                                                        <td>
                                                                            <a href="<%- '/tarefas/editar/' + user.id_atendimento  %>" class="text-bold-600">
                                                                                # <%- formatter.zero_esquerda(user.id_atendimento, 4) %>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <label class="text-bold-600"><%= user.assunto %></label>
                                                                        </td>
                                                                        <td>
                                                                            <%= moment(user.abertura).format('DD/MM/YYYY') %>
                                                                        </td>
                                                                        <td>
                                                                            <% if (user.status === 'Não Iniciado') { %> <span class="badge badge-secondary"><%- user.status %></span> <% } %>
                                                                            <% if (user.status === 'Concluído') { %> <span class="badge badge-success"><%- user.status %></span> <% } %>
                                                                            <% if (user.status === 'Em Andamento') { %> <span class="badge badge-warning"><%- user.status %></span> <% } %>
                                                                        </td>
                                                                    </tr>
                                                                <% }) %>
                                                            <% }; %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



            </div>
        </div>
    </div>

    <% include default/footer.ejs %>

</body>

</html>