
    <% include default/header.ejs %>

</head>

<body class="vertical-layout vertical-menu 2-columns fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="2-columns">

    <% include default/navbar.ejs %>

    <% include default/menu.ejs %>

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">

            <% include default/messages.ejs %>

            <div class="content-body">
                <!-- Statistics with grouped cards -->
                <% if (data_geral) { %>

                    <div class="content-header row mb-1">
                        <div class="content-header-left col-md-12">
                            <h3 class="content-header-title">Visão Geral</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="far fa-window-restore info font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Sistemas em Atendimento</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].sistemas_em_atendimento %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="far fa-copy primary font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Total de Tarefas</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].tarefas_total %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="fas fa-medal success font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Tarefas Concluídas</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].tarefas_concluidas %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="fas fa-wrench warning font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Tarefas em Atendimento</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].tarefas_em_aberto %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }; %>


                <section class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Tarefas Pendentes abertas por mim</h4>
                                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                        </div>
                                        <div class="card-content">
                                            <div class="card-body">
                                                <!-- Task List table -->
                                                <div class="table-responsive">
                                                    <table class="table table-hover dataTables-example dataTables_filter" id="mytable">
                                                        <thead>
                                                            <tr>
                                                                <th>Tarefa</th>
                                                                <th>Sistema</th>
                                                                <th>Assunto</th>
                                                                <th>Abertura</th>
                                                                <th>Situação</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <% if (data) { %>

                                                                <% ultimo_sistema = '' %>

                                                                <% data.forEach(function(user) { %>

                                                                    <% if (ultimo_sistema !== user.fonte_atendimento) { %>
                                                                        <tr class="group">
                                                                            <td colspan="8">
                                                                                <h6 class="mb-0"> <span class="text-bold-600">Sistema: </span> <%= user.fonte_atendimento %> </h6>
                                                                            </td>
                                                                        </tr>
                                                                    <% } %>

                                                                    <% ultimo_sistema = user.fonte_atendimento %>

                                                                    <tr>
                                                                        <td>
                                                                            <a href="<%- '/tarefas/editar/' + user.id_atendimento  %>" class="text-bold-600">
                                                                                # <%- formatter.zero_esquerda(user.id_atendimento, 4) %>
                                                                            </a>
                                                                        </td>
                                                                        <td>
                                                                            <%= user.fonte_atendimento %>
                                                                        </td>
                                                                        <td>
                                                                            <label class="text-bold-600"><%= user.assunto %></label>
                                                                        </td>
                                                                        <td>
                                                                            <%= moment(user.abertura).format('DD/MM/YYYY') %>
                                                                        </td>
                                                                        <td>
                                                                            <% if (user.status === 'Não Iniciado') { %> <span class="badge badge-secondary"><%- user.status %></span> <% } %>
                                                                            <% if (user.status === 'Concluído') { %> <span class="badge badge-success"><%- user.status %></span> <% } %>
                                                                            <% if (user.status === 'Em Andamento') { %> <span class="badge badge-warning"><%- user.status %></span> <% } %>
                                                                        </td>
                                                                    </tr>
                                                                <% }) %>
                                                            <% }; %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



            </div>
        </div>
    </div>

    <% include default/footer.ejs %>

</body>

</html>