<% include ../default/header.ejs %>

<body class="vertical-layout vertical-menu content-detached-left-sidebar fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="content-detached-left-sidebar">

    <% include ../default/navbar.ejs %>

    <% include ../default/menu.ejs %>

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">

            <div class="content-header row mb-1">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <h3 class="content-header-title">Editar Contrato</h3>
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/contratos">Contratos</a>
                                </li>
                                <li class="breadcrumb-item active"> Contrato <%- data.id_contrato %>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <% include ../default/messages.ejs %>

            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="basic-rm-layouts">

                    <div class="row match-height">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header bg-secondary">
                                    <h4 class="card-title text-white">Contrato #<%- data.id_contrato %> - <%- data.nome %> </h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-h font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <% if (data.ativo == 0) { %> <span class="badge badge-danger">Inativo <% } %>
                                        <% if (data.ativo == 1) { %> <span class="badge badge-success">Ativo</span> <% } %>
                                        <% if (data.ativo == 2) { %> <span class="badge badge-warning">Lead</span> <% } %>
                                    </div>
                                </div>

                                <div class="card-content collapse show">
                                    <div class="card-body">

                                        <form class="form" method="post">

                                            <div class="form-body">

                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label>Cliente</label>
                                                        <div>
                                                            <input type="hidden" required />
                                                            <select class="select2 form-control" id="cliente" name="cliente" required>
                                                                <option value=""></option>
                                                                <% if (data_clientes) { %>
                                                                    <% data_clientes.forEach(function(c){ %>
                                                                        <option value="<%= c.id_cliente %>" <%= data.id_cliente == c.id_cliente ? 'selected' : '' %> ><%= c.nome %></option>
                                                                    <% }) %>
                                                                <% }; %>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-3">
                                                        <label>Situação</label>
                                                        <select class="select2 form-control" name="ativo" id="ativo" required>
                                                            <option value="S" <%= data.ativo === 'S' ? 'selected' : '' %> > Ativo </option>
                                                            <option value="N" <%= data.ativo === 'N' ? 'selected' : '' %> > Inativo </option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group col-md-3">
                                                        <label>Renovação de Contrato</label>
                                                        <select class="select2 form-control" name="renovacao" id="renovacao" required>
                                                            <option value="S" <%= data.ativo === 'S' ? 'selected' : '' %> > Sim </option>
                                                            <option value="N" <%= data.ativo === 'N' ? 'selected' : '' %> > Não </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-3" id="data_1">
                                                        <label>Data de Início</label>
                                                        <div class="input-group date">
                                                            <span class="input-group-addon">
                                                                <i class="far fa-calendar"></i>
                                                            </span>
                                                            <input type="text" name="data_inicio" id="data_inicio" data-mask="99/99/9999"
                                                                value="<%= moment(data.data_inicio).format('DD/MM/YYYY') %>" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-3" id="data_1">
                                                        <label>Data de Fim</label>
                                                        <div class="input-group date">
                                                            <span class="input-group-addon">
                                                                <i class="far fa-calendar"></i>
                                                            </span>
                                                            <input type="text" name="data_fim" id="data_fim" data-mask="99/99/9999"
                                                                value="<%= moment(data.data_fim).format('DD/MM/YYYY') %>" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-3">
                                                        <label>Valor Acordado</label>
                                                        <input type="number" class="form-control" name="valor" id="valor" value="<%= data.valor %>" min="0.00" step="0.01" />
                                                    </div>

                                                    <div class="form-group col-md-3">
                                                        <label>Sistema</label>
                                                        <div>
                                                            <select data-placeholder=" " class="select2 form-control" name="fonte" id="fonte">
                                                                <option value=""></option>
                                                                <% if (data_fontes) { %>
                                                                <% data_fontes.forEach(function(f){ %>
                                                                    <option value="<%= f.id_fonte_atendimento %>" <%= data.id_fonte_atendimento== f.id_fonte ? 'selected' : '' %> > <%= f.descricao %> </option>
                                                                <% }) %>
                                                                <% }; %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label>Observação</label>
                                                        <textarea type="text" class="form-control" name="observacao" id="observacao" rows="8"><%= data.observacao %></textarea>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-actions">
                                                <a href="/contratos" class="btn btn-danger"><i class="ft-x"></i> Cancelar</a>
                                                <button type="submit" class="btn btn-info">
                                                    <i class="la la-check-square-o"></i> Salvar
                                                </button>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <% include ../default/footer.ejs %>

    <script type="text/javascript">
        $('.input-group.date').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            orientation: "bottom auto",
            autoclose: true,
            language: 'pt-BR'
        });
    </script>

</body>

</html>