<% include ../default/header.ejs %>

<body class="vertical-layout vertical-menu content-detached-left-sidebar fixed-navbar" data-open="click" data-menu="vertical-menu" data-col="content-detached-left-sidebar">

    <% include ../default/navbar.ejs %>

    <% include ../default/menu.ejs %>

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">

            <% include ../default/messages.ejs %>

            <div class="content-body">
                <!-- Statistics with grouped cards -->
                <% if (data_geral) { %>

                    <div class="content-header row mb-1">
                        <div class="content-header-left col-md-12">
                            <h3 class="content-header-title">Visão Geral</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="far fa-window-restore info font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Sistemas em Atendimento</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].sistemas_em_atendimento %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="far fa-copy primary font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Total de Tarefas</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].tarefas_total %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="fas fa-medal success font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Tarefas Concluídas</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].tarefas_concluidas %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="align-self-center">
                                                <i class="fas fa-wrench warning font-large-2"></i>
                                            </div>
                                            <div class="media-body text-right">
                                                <h5 class="text-muted text-bold-500">Tarefas em Atendimento</h5>
                                                <h3 class="text-bold-600"><%- data_geral[0].tarefas_em_aberto %></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }; %>

                <div class="content-header row mb-1">
                    <div class="content-header-left col-md-12 mb-2">
                        <h3 class="content-header-title">Acompanhamento</h3>
                        <div class="row breadcrumbs-top">
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/index">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="/tarefas">Tarefas</a>
                                    </li>
                                    <li class="breadcrumb-item active"> <%- info.titulo %>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-body">
                    <section class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-content">
                                                <div class="card-body">

                                                    <div class="form-group">
                                                        <label>Pesquisa</label>
                                                        <input type="text" class="form-control" name="filtro_pesquisa" id="filtro_pesquisa" placeholder="Digite aqui sua pesquisa, exemplo: problema, teste, desconto, ..." />
                                                    </div>

                                                    <!-- Task List table -->
                                                    <div class="table-responsive">
                                                        <table class="table table-hover dataTables-example dataTables_filter" id="mytable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tarefa</th>
                                                                    <th>Tipo</th>
                                                                    <th>Assunto</th>
                                                                    <th>Sistema</th>
                                                                    <th>Situação</th>
                                                                    <th>Abertura</th>
                                                                    <th>Prior.</th>
                                                                    <th>Ações</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                <% if (data) { %>
                                                                    <% data.forEach(function(user){ %>
                                                                        <tr>
                                                                            <td>
                                                                                <a href="<%- '/tarefas/editar/' + user.id_atendimento  %>" class="text-bold-600">
                                                                                    # <%- formatter.zero_esquerda(user.id_atendimento, 4) %>
                                                                                </a>
                                                                            </td>
                                                                            <td>
                                                                                <%= user.tipo_atendimento %>
                                                                            </td>
                                                                            <td>
                                                                                <label class="text-bold-600"><%= user.assunto %></label>
                                                                            </td>
                                                                            <td>
                                                                                <%= user.fonte_atendimento %>
                                                                            </td>
                                                                            <td>
                                                                                <% if (user.status === 'Não Iniciado') { %> <span class="badge badge-secondary"><%- user.status %></span> <% } %>
                                                                                <% if (user.status === 'Concluído') { %> <span class="badge badge-success"><%- user.status %></span> <% } %>
                                                                                <% if (user.status === 'Em Andamento') { %> <span class="badge badge-warning"><%- user.status %></span> <% } %>
                                                                            </td>

                                                                            <td>
                                                                                <%= moment(user.abertura).format('DD/MM/YYYY') %>
                                                                            </td>

                                                                            <td>
                                                                                <% if (user.prioridade === 'Alta') { %> <span class="badge badge-danger"><%- user.prioridade %></span> <% } %>
                                                                                <% if (user.prioridade === 'Média') { %> <span class="badge badge-warning"><%- user.prioridade %></span> <% } %>
                                                                                <% if (user.prioridade === 'Baixa') { %> <span class="badge badge-info"><%- user.prioridade %></span> <% } %>
                                                                            </td>

                                                                            <td>
                                                                                <button class="btn btn-outline-info btn-sm round dropdown-toggle dropdown-menu-right box-shadow-1"
                                                                                        id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    <i class="ft-settings icon-left"></i> Opções
                                                                                </button>

                                                                                <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="btnGroupDrop1">
                                                                                    <a class="dropdown-item" id="tarefa" title="Abrir Tarefa" href="<%- '/tarefas/editar/' + user.id_atendimento  %>" >
                                                                                        <i class="far fa-share-square" aria-hidden="true" style="margin-right: 10px;"></i> Abrir Tarefa
                                                                                    </a>
                                                                                    <div class="dropdown-divider"></div>
                                                                                    <a class="dropdown-item" id="historico" title="Histórico"
                                                                                        onclick="mostraModalHistorico(<%- user.id_atendimento %>)"
                                                                                        data-toggle="modal" data-target="#myModalHistorico" >
                                                                                        <i class="far fa-clock" aria-hidden="true" style="margin-right: 10px;"></i> Visualizar Histórico
                                                                                    </a>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    <% }) %>
                                                                <% }; %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <!-- Modal -->
    <% include modal_historico.ejs %>
    <!-- Modal -->

    <% include ../default/footer.ejs %>

    <script>
        $(document).ready(function () {

            var dataTable = $('.dataTables-example').DataTable({
                lengthMenu: [[200, 300, -1], [200, 300, "All"]],
                bPaginate: false,
                bProcessing: true,
                bLengthChange: false,
                bInfo: false,
                bFilter: true,
                responsive: false,
                rowReorder: false,
                dom: '<"html5buttons"B>lTgitp',
                buttons: [],
                order: [[ 0, "desc" ]],
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Pesquisar...",
                    paginate: {
                        previous: "Anterior",
                        next: "Próximo"
                    }
                }
            });

            $('.dataTables_filter').addClass('pull-left');

            $('#filtro_pesquisa').on('keyup change clear', function(){
                dataTable.search(this.value).draw();
            });
        });
    </script>

</body>

</html>